
/**
 * 
 * CATEGORIES PAGE
 * 
 */
.mclg2_box{}
.mclg2_box2{
    margin-left: 20px !important;
}
.mclg2_box3{
    margin-left: 40px !important;
}
.mclg2_box4{
    margin-left: 60px !important;
}
.mclg2_box5{
    margin-left: 80px !important;
}
.mclg2_box6{
    margin-left: 100px !important;
}
.mclg2_box7{
    margin-left: 120px !important;
}
.mclg2_box8{
    margin-left: 140px !important;
}
.mclg2_box9{
    margin-left: 160px !important;
}
.mclg2_box10{
    margin-left: 180px !important;
}
.mclg2_box11{
    margin-left: 200px !important;
}
.mclg2_box12{
    margin-left: 220px !important;
}



/**
 * 
 * MODULE PAGE
 * 
 */
.fitem_fcheckbox{
    width: 28%;
    float: left;
}


/**
 * 
 * CLASSES PAGE / DOWNLOAD PAGE
 * 
 */
.title_module{
    font-size: 13pt;
    font-weight: bold;
    margin: 10px;
}
.title_module .addClassButton{
    color: #0066cc;
    border: solid 1px #0066cc;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    text-align: center;
    line-height: 15px;
    margin: 10px;
    cursor: pointer;
}
.module_class{
    background-color: #ddd;
    padding: 5px;
    border-radius: 5px;
    min-height: 40px;
    margin-bottom: 10px;
    line-height: 40px;
}
.module_class div{
    float: left;
}
.module_class .name_form{
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
}
.module_class .rule_name{
    margin-right: 10px;
    margin-left: 10px;
}
.module_class .rule_input{}
.module_class .rule_input input{
    height: 20px;
    margin-top: 5px;
    width: 100px;
}
.module_class:last-child .rule_input:nth-child(5), .module_class:last-child .rule_name:nth-child(4){
    display: none;
}
.module_class .deleteButton{
    color: red;
    margin-left: 20px;
    display: none;
    cursor: pointer;
}
.module_class:last-child .deleteButton{
    display: block;
}
.classes_page fieldset {
    height: 40px;
    overflow: hidden;
}
.classes_page fieldset.active {
    height: auto;
}

/**
 * 
 * SHARED
 * 
 */
.pagination_advancement{
    width: 98%;
    height: 20px;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 20px;
    font-size: 9pt;
}
.pagination_box{
    width: 19%;
    height: 20px;
    float: left;
    text-align: center;
    border: solid 1px;
    border-right: none;
    overflow: hidden;
}
.pagination_box:last-child{
    border-right: solid 1px !important;
}